@media (max-width: 1160px) {
  .content-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content-container__pet-info {
  padding-left: 15px;
}

.columns.content-container__filter {
  background-color: #e6f3f1;
  border-radius: 10px;
  margin: 10px;
}

/* .content-container__add-button-container button {
    height: 50px;
} */
