body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body .modal-card-foot {
  justify-content: center;    
  align-items: center;
}

.modal.is-active {
  z-index: 9999; /* to be higher thatn leaflet map z-index */
}

.control select, .control input {
  width: 150px;
}